<div class="audio-reader">
  <h1>
    IndexedDB(Dexie.js)を使ってブラウザに保存できる音声ファイルサイズテスト
  </h1>

  <div class="item">
    <input
      type="file"
      accept="audio/*"
      (change)="onChangeAudioFileInput($event)"
    />
  </div>
  <div class="item">
    <span>保存する数：</span>
    <input autocomplete="off" type="number" [(ngModel)]="maxSaveFileCount" />
  </div>
  <div class="item">
    <button class="button" (click)="onAddAudioFiles()">保存する</button>
    <button class="button" (click)="onDeleteAudioFiles()">全て削除する</button>
  </div>
  <div class="item">
    <p>総ファイル数: {{ getTotalFileCount() | number }}</p>
    <p>総ファイルサイズ: {{ getTotalFileSize() | number }}GB</p>
  </div>
  <div class="item">
    <textarea rows="15" cols="80" readonly>{{ audioLog }}</textarea>
  </div>

  <div class="item">
    <button
      class="button"
      *ngIf="!isLoadAudioFile"
      (click)="isLoadAudioFile = true"
    >
      オーディオファイルを表示する
    </button>
  </div>
  <ul *ngIf="isLoadAudioFile">
    <li *ngFor="let item of audioFiles; trackBy: trackByItem">
      <div *ngIf="item.file; else noFile">
        <p>{{ item.file.name }}</p>
        <audio
          *ngIf="item.objectURL"
          controls
          [src]="item.objectURL | safeUrl"
        ></audio>
      </div>
      <ng-template #noFile>
        <div>no file</div>
      </ng-template>
    </li>
  </ul>
</div>
